@import "variables";

body{
font-family: 'Arial','メイリオ', Meiryo,'Osaka','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;

}

li{
  list-style: none;
}

.header{
  background-color: #e6e6fa;
  height: 90px;
}

.header-logo{
  float: left;
  font-size: 36px;
  padding: 20px 40px;
  color: $main;
}

.header-list li{
  float: left;
  padding: 33px 20px;
  color: $main;
}

.main{
  padding: 100px 80px;
  background-color: #e6e6fa;
}

.copy-container{
  color: $main;
  &.h1{
    font-size: 70px;
  }
  &.h2{
    font-size: 30px;
  }
}

.contents{
  height: 500px;
}

.section-title{
  border-bottom: 2px solid #fff;
}

.contents-item{
  float: left;
}

.footer{
  background-color: #778899;
  color: $sab;
  height: 120px;
  padding: 40px;
}

.fooetr-logo{
  font-size: 32px;
  float: left;
}

.footer-list{
  float: right;
}

.footer-list li{
  padding-bottom: 20px;
}
