body{
font-family: 'Arial','メイリオ', Meiryo,'Osaka','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;

}

li{
  list-style: none;
}

.header{
  background-color: #e6e6fa;
  color: white;
}

.header-logo{
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li{
  float: left;
  padding: 33px 20px;
  float: left;
}

.main{
  padding: 100px 80px;
  background-color: #e6e6fa;
}

.footer{
  background-color: #778899;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.fooetr-logo{
  font-size: 32px;
  float: left;
}

.footer-list{
  float: right;
}

.footer-list li{
  padding-bottom: 20px;
}
